<h1>マイページ</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<%if !current_user.uid? %>
  <%= link_to "LINE連携をする", user_line_omniauth_authorize_path, method: :post,  class: "btn btn-sm btn-primary" %>
<%else%>
  <%= link_to "LINE連携を解消する", users_line_disconnect_path,  class: "btn btn-sm btn-primary" %>
<% end %>
<%if current_user.admin? %>
  <%=link_to "管理者画面", rails_admin_path, class: "btn btn-sm btn-primary" %>
<% end %>
<%= link_to "マイページの編集", edit_user_registration_path, class: "btn btn-sm btn-primary" %><br>
<h5>LINE連携後このアプリのLINEアカウントを追加すると、そのアカウントからも予定を通知をすることができます<br>
    LINEアカウントに対して、予定　と入力すると、直近7日間の予定が表示されます</h5><br>
<h5>※LINE連携後、アカウントが友達に追加されていなかった場合、ID検索をしてください。ToDoMailer LINEアカウントID: @146csqne<br>
