<p id="notice"><%= notice %></p>

<h1>タグ</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= link_to 'Show', tag %></td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: '削除してもよろしいでしょうか' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規タグ作成', new_tag_path %>
