<%= form_with(model: post, local: true) do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, placeholder: 'todoを入力' %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline, include_blank: true %>
  </div>

  <div class="tag">
    <%= form.label :tag %>
    <label for="tag_check.">
      <%= form.collection_select :tag_ids, Tag.all, :id, :name %>
    </label>
  </div>

  <div class = "status">
    <%= form.label :status %>
    <%= form.select :status, Post.statuses.keys.to_a %>
  </div>

  <div class="actions">
    <%= form.button "登録する"%>
  </div>
<% end %>
