<%= month_calendar events: posts do |date, plans| %>

  <%= date.day %>

  <% plans.each do |plan| %>
    <div class="container">
      <button type="button" data-toggle="modal" data-target="#testModal" id="calendar_schedule" ><%= plan.status %><br>
        <% plan.tags.each do |tag|%>
          <%= tag.name %>
        <% end %>
      </button>
    </div>

    <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h4>編集画面</h4>
          </div>
          <div class="modal-body" >
              <label><%= render partial: 'posts/edit_modal', locals: { post: plan } %></label>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
              <%= link_to '削除', plan, class: "btn btn-sm btn-danger", method: :delete, remote: true, data: { confirm: '削除してもよろしいでしょうか' } %>
          </div>
        </div>
      </div>
    </div>

  <% end %>
<% end %>

<div class="container">
  <button type="button" class="btn btn-primary mb-12" data-toggle="modal" data-target="#testModal2">新規作成</button>
</div>


<div class="modal fade" id="testModal2" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4>新規作成画面</h4>
      </div>
      <div class="modal-body" >
          <label><%= render partial: 'posts/new_form', locals: { post: post }%></label>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
