
<h1>ToDo作成</h1>


<%= render partial: 'posts/month_new_form' %>

<h1>ToDo一覧</h1>

<%= search_form_for @q, url: posts_ajax_index_path, remote: true do |f| %>
  ToDo内容:<%= f.text_field :content_cont, placeholder: 'todo内容を入力' %>
  締切日:<%= f.date_field :deadline_gteq,
              include_blank: true %>〜
  <%= f.date_field :deadline_lteq,
              include_blank: true %>
  タグ:<%= f.collection_select :taggings_tag_id_eq, Tag.all, :id, :name, include_blank: true %>
  実施/未実施:<%= f.select :status_eq, Post.statuses.keys.to_a, include_blank: true %>
  <%= f.button "検索" %>
<% end %><br><br>

<div id="posts_area">
  <%= render partial: 'posts/posts_index', locals: { posts: @posts } %>
</div>
