
<p>
  <strong>ToDo内容:</strong>
  <%= @post.content %>
  <strong>締切日時:</strong>
  <%if @post.deadline %>
    <%= l @post.deadline %>
  <% end %>
  <strong>タグ:</strong>
  <% @post.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>
  <strong>実施/未実施:</strong>
  <%= @post.status %>
</p>

<%= link_to '編集', edit_post_path(@post) %> |
<%= link_to '戻る', posts_path %>
